<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil - Yosswimming</title>
    <link rel="icon" href="../static/img/logo1.png" type="image/png">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body class="flex">
<!-- Tombol Menu (☰) -->
<button id="menuButton" class="absolute top-4 right-4 text-white p-4 rounded-md z-50">
  ☰
</button>

<!-- Sidebar -->
<div id="sidebar" class="w-64 min-h-screen bg-gray-800 text-white fixed p-5 left-0 top-0 transform transition-transform duration-300 -translate-x-full z-50">
  <h2 class="text-2xl font-bold mb-6">Yosswimming</h2>
  <ul>
    <li class="mb-3"><a href="{{ url_for('home')}}" class="block p-2 rounded hover:bg-gray-700">Home</a></li>
    <li class="mb-3"><a href="{{ url_for('about')}}" class="block p-2 rounded hover:bg-gray-700">About</a></li>
    <li class="mb-3"><a href="{{ url_for('profil')}}" class="block p-2 rounded hover:bg-gray-700">Profil</a></li>
    <li class="mb-3"><a href="{{ url_for('contact')}}" class="block p-2 rounded hover:bg-gray-700">Contact</a></li>
    <li class="mb-3"><a href="{{ url_for('visi_misi')}}" class="block p-2 rounded hover:bg-gray-700">Visi & Misi</a></li>
    <li class="mb-3"><a href="{{ url_for('docs')}}" class="block p-2 rounded hover:bg-gray-700">Docs</a></li>
  </ul>
</div>

<!-- Konten Utama -->
<div id="mainContent" class="flex-1 min-h-screen bg-gray-100 transition-all duration-300">
  
  <!-- Bagian Hero -->
  <div class="hero min-h-screen relative" style="background-image: url(../static/img/22.jpg);">
    <div class="hero-overlay bg-opacity-60"></div>
    <!-- Elemen teks di pojok bawah kiri -->
    <div class="absolute bottom-2 left-5 text-white p-5 rounded-lg flex items-center gap-5 flex-wrap md:flex-nowrap">
      <div class="w-full md:w-2/3">
          <h1 class="mt-10 text-4xl md:text-5xl font-bold text-warning" 
              style="font-family: 'Playfair Display', serif; 
                     letter-spacing: 2px; 
                     text-transform: uppercase; 
                     text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);">
              Expert Coaches Guiding You to Success
          </h1>
          <a href="https://www.instagram.com/atlantikwaterboom/"><button class="btn btn-error rounded-full">learn more</button></a>
      </div>
      <div class="p-5 shadow-lg w-full md:w-auto flex justify-center">
          <img src="../static/img/WhatsAppImage2025-02-10at23.33.59.jpeg" alt="foto" class="h-full w-60 object-contain rounded-lg" />
          
      </div>
  </div>
  
  </div>
  
 <!-- Galeri Foto -->
 <div class="p-10 bg-gray-800">
  <h2 class="text-3xl font-bold text-center mb-6">Coach yang terdaftar</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <!-- Card Foto -->
    <div class="card bg-white shadow-md rounded-lg overflow-hidden p-4">
      <img src="../static/img/WhatsAppImage2025-02-01at06.18.32.jpeg" alt="Foto 1" class="w-full h-48 object-cover" />
      <h3 class="text-xl font-semibold mt-2 flex justify-center text-black">KA AGAH</h3>
      <p class="text-gray-600 flex justify-center">Coach</p>
    </div>
    <div class="card bg-white shadow-md rounded-lg overflow-hidden p-4">
      <img src="../static/img/WhatsAppImage2025-02-01at06.18.341.jpeg" alt="Foto 2" class="w-full h-48 object-cover" />
      <h3 class="text-xl font-semibold mt-2 flex justify-center text-black">KA SIGIT</h3>
      <p class="text-gray-600 flex justify-center">Coach</p>
    </div>
    <div class="card bg-white shadow-md rounded-lg overflow-hidden p-4">
      <img src="../static/img/WhatsAppImage2025-02-01at06.18.271.jpeg" alt="Foto 3" class="w-full h-48 object-cover" />
      <h3 class="text-xl font-semibold mt-2 flex justify-center text-black">KA IPAN</h3>
      <p class="text-gray-600 flex justify-center">Coach</p>
    </div>
    <div class="card bg-white shadow-md rounded-lg overflow-hidden p-4">
      <img src="../static/img/Oleh-removebg-preview.png" alt="Foto 4" class="w-full h-48 object-cover" />
      <h3 class="text-xl font-semibold mt-2 flex justify-center text-black">KA SOLEH</h3>
      <p class="text-gray-600 flex justify-center">Coach</p>
    </div>
    <div class="card bg-white shadow-md rounded-lg overflow-hidden p-4">
      <img src="../static/img/WhatsAppImage2025-02-01at06.18.273.jpeg" alt="Foto 5" class="w-full h-48 object-cover" />
      <h3 class="text-xl font-semibold mt-2 flex justify-center text-black">KA NADHIF</h3>
      <p class="text-gray-600 flex justify-center">Coach</p>
    </div>
    <div class="card bg-white shadow-md rounded-lg overflow-hidden p-4">
      <img src="../static/img/WhatsAppImage2025-02-01at06.18.272.jpeg" alt="Foto 6" class="w-full h-48 object-cover" />
      <h3 class="text-xl font-semibold mt-2 flex justify-center text-black">KA RYAN</h3>
      <p class="text-gray-600 flex justify-center">Coach</p>
    </div>
    <div class="card bg-white shadow-md rounded-lg overflow-hidden p-4">
      <img src="../static/imG/WhatsAppImage2025-02-01at06.18.321.jpeg" alt="Foto 6" class="w-full h-48 object-cover" />
      <h3 class="text-xl font-semibold mt-2 flex justify-center text-black">KA RIFA</h3>
      <p class="text-gray-600 flex justify-center">Coach</p>
    </div>
    <div class="card bg-white shadow-md rounded-lg overflow-hidden p-4">
      <img src="../static/img/WhatsAppImage2025-02-01at06.18.33.jpeg" alt="Foto 6" class="w-full h-48 object-cover" />
      <h3 class="text-xl font-semibold mt-2 flex justify-center text-black">KA SUCI</h3>
      <p class="text-gray-600 flex justify-center">Coach</p>
    </div>
    <div></div>
    <div class="card bg-white shadow-md rounded-lg overflow-hidden p-4">
      <img src="../static/img/WhatsAppImage2025-02-01at06.18.332.jpeg" alt="Foto 6" class="w-full h-48 object-cover" />
      <h3 class="text-xl font-semibold mt-2 flex justify-center text-black">KA MARRY</h3>
      <p class="text-gray-600 flex justify-center">Coach</p>
    </div>
    <div class="card bg-white shadow-md rounded-lg overflow-hidden p-4">
      <img src="../static/img/WhatsAppImage2025-02-01at06.18.58.jpeg" alt="Foto 6" class="w-full h-48 object-cover" />
      <h3 class="text-xl font-semibold mt-2 text-black flex justify-center">KA FANY</h3>
      <p class="text-gray-600 flex justify-center">Coach</p>
    </div>
  </div>
</div>


<footer class="footer bg-neutral text-neutral-content p-10 bg-gray-800">
  <aside>
      <img src="../static/img/logo1.png" width="50" height="50" alt="Logo">
    <p>
      Copyright © Yosswimming
    </p>
  </aside>
  <nav>
    <h6 class="footer-title">Social</h6>
    <div class="grid grid-flow-col gap-4">
      <a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="fill-current">
          <path
            d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path>
        </svg>
      </a>
      <a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="fill-current">
          <path
            d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"></path>
        </svg>
      </a>
      <a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="fill-current">
          <path
            d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"></path>
        </svg>
      </a>
      <a href="https://linktr.ee/yoswimms" target="_blank"><button class="btn btn-error px-24">Pendaftaran</button></a>
    </div>
  </nav>
</footer>
</div>
